<tr class='order border-b' id= '<%= dom_id(order) %>'>
    <td class='px-2 po-number'>
      <%= order.po_number %>
    </td>
    <td class='px-2 po-state'>
      <%= order.po_state %>
    </td>
    <td class='px-2 po-date'>
      <%= order.po_date %>
    </td>
    <td class='px-2 po-type'>
      <%= order.po_type %>
    </td>
    <td class='px-2 deal-code'>
      <%= order.deal_code %>
    </td>
    <td class='px-2 payment-method'>
      <%= order.payment_method %>
    </td>
    <td class='px-2 delivery-window'>
      <%= order.delivery_window %>
    </td>
  </tr>
