<tr class='shipto border-b whitespace-nowrap' id= '<%= dom_id(shipto) %>'>
    <td class='px-2 location_code'>
      <%= shipto.location_code %>
    </td>
    <td class='px-2 province'>
      <%= shipto.province %>
    </td>
    <td class='px-2 customer_name'>
      <%= shipto.customer_name %>
    </td>
    <td class='px-2 address_line1'>
      <%= shipto.address_line1 %>
    </td>
    <td class='px-2 address_line2'>
      <%= shipto.address_line2 %>
    </td>
    <td class='px-2i city'>
      <%= shipto.city %>
    </td>
    <td class='px-2 postal_code'>
      <%= shipto.postal_code %>
    </td>
    <td class='px-2 contact_name1'>
      <%= shipto.contact_name1 %>
    </td>
    <td class='px-2 email1'>
      <%= shipto.email1 %>
    </td>
    <td class='px-2 phone1'>
      <%= shipto.phone1 %>
    </td>
    <td class='px-2 contact_name2'>
      <%= shipto.contact_name2 %>
    </td>
    <td class='px-2 email2'>
      <%= shipto.email2 %>
    </td>
    <td class='px-2 phone2'>
      <%= shipto.phone2 %>
    </td>
    <td class='px-2 send_report'>
      <%= shipto.send_report %>
    </td>
    <td class='px-2 visu_email'>
      <%= shipto.visu_email %>
    </td>
  </tr>
