<!-- Search -->
<div class="bg-white rounded-lg border shadow-md">
  <div class="py-2 px-2 flex flex-wrap text-sm font-medium text-center text-gray-500 bg-gray-50 rounded-t-lg border-b border-gray-200">
    Search
  </div>

  <div class="mb-3 text-gray-500">
    <%= search_form_for @search, html: { data: { turbo_frame: "_top" } } do |f| %>
      <div class="grid md:grid-cols-8 md:gap-2 p-2">
        <div>
          <%= f.label :location_code_cont, "Code", class: "block mb-2 text-sm font-medium text-gray-900" %>
          <%= f.search_field :location_code_cont, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %>
        </div>

        <div>
          <%= f.label :province_cont, "Province", class: "block mb-2 text-sm font-medium text-gray-900" %>
          <%= f.search_field :province_cont, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %>
        </div>

        <div>
          <%= f.label :customer_name_cont, "Customer Name", class: "block mb-2 text-sm font-medium text-gray-900" %>
          <%= f.search_field :customer_name_cont, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %>
        </div>

        <div>
          <%= f.label :address_line1_cont, "Address", class: "block mb-2 text-sm font-medium text-gray-900" %>
          <%= f.search_field :address_line1_cont, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %>
        </div>

        <div>
          <%= f.label :city_cont, "City", class: "block mb-2 text-sm font-medium text-gray-900" %>
          <%= f.search_field :city_cont, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %>
        </div>

        <div>
          <%= f.label :postal_code_cont, "Postal Code", class: "block mb-2 text-sm font-medium text-gray-900" %>
          <%= f.search_field :postal_code_cont, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %>
        </div>

        <div>
          <%= button_tag(icon_with_text("search", "Search"), class: "inline-flex items-center mt-4 py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300") %>
          <%= link_to "Clear", shiptos_path, class: "text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-3 py-2 text-center" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- 一覧 -->
<div class="mt-4 w-full flex bg-white rounded-lg border shadow-md">
  <div class='overflow-x-scroll'>
    <div class='inline-block'>
      <div class='flex border-t border-b bg-blue-500 rounded-t-lg text-white'>
        <%= sort_link(@search, :location_code, 'Code', class: 'inline-block px-2 py-2 w-24 border-r') %>
        <%= sort_link(@search, :customer_name, 'Customer Name', class: 'inline-block px-2 py-2 w-72 border-r') %>
        <%= sort_link(@search, :address_line1, 'Address Line1', class: 'inline-block px-2 py-2 w-60 border-r') %>
        <%= sort_link(@search, :address_line2, 'Address Line2', class: 'inline-block px-2 py-2 w-60 border-r') %>
        <%= sort_link(@search, :city, 'City', class: 'inline-block px-2 py-2 w-36 border-r') %>
        <%= sort_link(@search, :province, 'Province', class: 'inline-block px-2 py-2 w-24 border-r') %>
        <%= sort_link(@search, :postal_code, 'Postal Code', class: 'inline-block px-2 py-2 w-36 border-r') %>
        <%= sort_link(@search, :contact_name1, 'Contact Name1', class: 'inline-block px-2 py-2 w-36 border-r') %>
        <%= sort_link(@search, :email1, 'Email1', class: 'inline-block px-2 py-2 w-36 border-r') %>
        <%= sort_link(@search, :phone1, 'Phone1', class: 'inline-block px-2 py-2 w-36 border-r') %>
        <%= sort_link(@search, :contact_name2, 'Contact Name2', class: 'inline-block px-2 py-2 w-36 border-r') %>
        <%= sort_link(@search, :email2, 'Email2', class: 'inline-block px-2 py-2 w-36 border-r') %>
        <%= sort_link(@search, :phone2, 'Phone2', class: 'inline-block px-2 py-2 w-36 border-r') %>
        <%= sort_link(@search, :send_report, 'Send Report', class: 'inline-block px-2 py-2 w-36 border-r') %>
        <%= sort_link(@search, :visu_email, 'Visu Email', class: 'inline-block px-2 py-2 w-36 border-r') %>
        <div class='inline-block w-20'></div>
      </div>
    </div>

    <div id='shiptos' class='inline-block'>
      <%= render @shiptos %>
    </div>

    <div class="d-flex justify-content-end mt-3">
      <%= paginate @shiptos %>
    </div>
  </div>
</div>
