<%= turbo_frame_tag item do %>
  <%= form_with(model: @item) do |f| %>
    <% if f.object.errors.present? %>
      <div class="text-red-500 border-red-800 font-bold border-2 p-2 mb-2">
        <ul>
          <% f.object.errors.full_messages.each do |e| %>
            <li class='error_message'><%= e %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= f.text_field :item_code, class: 'px-2 w-[94px] border-r border-b bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
      <%= f.text_field :upc, class: 'px-2 w-[140px] border-r border-b bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
      <%= f.text_field :title, class: 'px-2 w-[380px] border-r border-b  bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
      <%= f.text_field :brand, class: 'px-2 w-[188px] border-r border-b  bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
      <%= f.text_field :size, class: 'px-2 w-[60px] border-r border-b  bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
      <%= f.text_field :pack, class: 'px-2 w-[60px] border-r border-b  bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
      <%= f.text_field :price, class: 'px-2 w-[75px] border-r border-b  bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
      <%= f.text_field :z_pricing, class: 'px-2 w-[75px] border-r border-b  bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
      <%= f.text_field :stock, class: 'px-2 w-[60px] border-r border-b  bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
      <%= f.text_field :dept, class: 'px-2 w-[94px] border-r border-b  bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
      <%= f.select :status,
        Item.statuses.keys.map { |k| [t("enum.item.status.#{k}"), k] },
        { include_blank: '' },
        class: 'px-2 w-[138px] border-r border-b  bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
        %>
      <%= f.text_field :asin, class: 'px-2 w-[140px] border-r border-b  bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
      <%= f.text_field :model_number, class: 'px-2 w-[140px] border-r border-b  bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
      <%= f.text_field :description, class: 'px-2 w-[380px] border-r border-b  bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
      <%= f.select :case,
        Item.cases.keys.map { |k| [t("enum.item.case.#{k}"), k] },
        { include_blank: '' },
        class: 'px-2 w-[90px] border-r border-b  bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
      %>
      <%= f.submit 'Save', class: 'bg-blue-500 hover:text-blue-700 font-semibold text-white ml-2 py-1 px-3 border border-blue-500 hover:border-transparent rounded' %>
    </div>
  <% end %>
<% end %>
