<nav class="sticky top-0 bg-gray-700 text-white border-gray-200">
  <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl px-4 py-2.5">
    <% unless user_signed_in? %>
      <%= link_to new_user_session_path, class: "flex items-center" do %>
        <span class='self-center text-xl font-semibold whitespace-nowrap'>ePresto Connection1</span>
      <% end %>
      <%= link_to 'Sign in', new_user_session_path, class: 'block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 hover:text-blue-700' %>
    <% else %>
      <%= link_to root_path, class: "flex items-center" do %>
        <span class='self-center text-xl font-semibold whitespace-nowrap'>ePresto Connection1</span>
      <% end %>
      <%= link_to 'Purchase Order', orders_path(new: true), class: 'block py-2 pr-4 pl-3 text-white rounded hover:bg-gray-100 hover:text-blue-700' %>
      <%= link_to 'Item Master', items_path, class: 'block py-2 pr-4 pl-3 text-white rounded hover:bg-gray-100 hover:text-blue-700' %>
      <%= link_to 'Profile', profile_path, class: 'block py-2 pr-4 pl-3 text-white rounded hover:bg-gray-100 hover:text-blue-700' %>
      <%=
        link_to(
          destroy_user_session_path,
          data: { turbo_method: :delete },
          class: 'block py-2 rounded text-white text-white hover:bg-gray-100 hover:text-blue-700'
        ) do
          tag.span { 'Log out' }
        end
      %>
    <% end %>
  </div>
</nav>
