<nav class="sticky top-0 bg-blue-300 text-white border-gray-200">
  <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl px-4 py-2.5">
    <% unless user_signed_in? %>
      <%= link_to new_user_session_path, class: "flex items-center" do %>
        <span class='text-transparent text-2xl bg-clip-text bg-gradient-to-r from-sky-900 to-cyan-500 font-sans'>ePresto-Connection</span>
      <% end %>
      <%= link_to 'Sign in', new_user_session_path, class: 'block py-2 px-4 text-gray-700 rounded hover:bg-gray-100 hover:text-blue-500' %>
    <% else %>
      <%= link_to orders_path(tab: 'all'), class: "flex items-center" do %>
        <span class='text-transparent text-2xl bg-clip-text bg-gradient-to-r from-sky-900 to-cyan-500 font-sans'>ePresto-Connection</span>
      <% end %>
      <%= link_to 'Purchase Order', orders_path(tab: 'all'), class: 'block py-2 px-4 text-white rounded hover:bg-gray-100 hover:text-blue-500' %>
      <% if current_user.sysadmin? %>
        <%= link_to 'Item Master', items_path, class: 'block py-2 px-4 text-white rounded hover:bg-gray-100 hover:text-blue-700' %>
        <%= link_to 'Location Master', shiptos_path, class: 'block py-2 px-4 text-white rounded hover:bg-gray-100 hover:text-blue-500' %>
      <% end %>
      <%= link_to 'Profile', profile_path, class: 'block py-2 px-4 text-white rounded hover:bg-gray-100 hover:text-blue-500' %>
      <%=
        link_to(
          destroy_user_session_path,
          data: { turbo_method: :delete },
          class: 'block py-2 px-4 rounded text-white text-white hover:bg-gray-100 hover:text-blue-500'
        ) do
          tag.span { 'Log out' }
        end
      %>
    <% end %>
  </div>
</nav>
