<aside class="w-64" aria-label="Sidebar">
   <div class="overflow-y-auto py-4 px-3 bg-teal-400 rounded dark:bg-gray-800">
      <ul class="space-y-2">
        <li>
          <%= sidebar_link_to(root_path, 'Purchase Order') %>
        </li>
        <li>
          <%= sidebar_link_to(root_path, 'Invoices') %>
        </li>
        <li>
          <%= sidebar_link_to(root_path, 'Item Info') %>
        </li>
        <li>
          <%= sidebar_link_to(root_path, 'Carton Labels') %>
        </li>
        <li>
          <%= sidebar_link_to(new_user_registration_path, 'Sign up') %>
        </li>
        <li>
          <%= sidebar_link_to(new_user_session_path, 'Sign in') %>
        </li>
        <li>
          <%=
            link_to(
              destroy_user_session_path,
              :method => :delete,
              class: 'my-1 py-2 px-4 rounded text-white text-white hover:bg-teal-600'
            ) do
              tag.span { 'Log out' }
            end
          %>
        </li>
      </ul>
   </div>
</aside>
