<!DOCTYPE html>
<html>
  <head>
    <title>Epresto</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>
    <div>
      <%= render 'navbar' %>

      <div class='pt-1 px-4 bg-gray-50 border-gray-200 shadow-sm md:bg-white border-y dark:bg-gray-800 dark:border-gray-600'>
        <div id='flash'>
          <%= render 'flash' %>
        </div>
        <%= yield %>
      </div>
  </body>
</html>
